.main {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  height: 90vh;

  h1 {
    font-weight: 600;
    font-size: 32px;

    text-align: center;
  }

  p {
    max-width: 50%;
    text-align: justify;

    margin: 0 auto;
  }
}
